<head>
    <link rel="icon" href="https://cdn4.iconfinder.com/data/icons/e-commerce-289/64/ecomerce_comerce_crate_shopping_price_search_cost-256.png"></link->
</head>
<html>
    <body>
        {{{body}}}
    </body>
</html>