<h1>SignUp</h1>
<form action="/register" method="POST" >
    <input placeholder="Nombre de Usuario" type="text" name="userName" id="userName" required>   
    <input placeholder="Contraseña" type="password" name="passWord" id="passWord" required>
    <input type="submit" value="Log In">
</form>