<html>
    <h1>Loged succesful</h1>
    <h1>Welcome</h1>
    <form action="/logout">
     <input type="submit" value="logout">
    </form>
    <form action="/">
        <input type="submit" value="Signup">
    </form>

    <h2>Lista de Productos</h2>
    <h3>No hay Productos xd</h3>
</html>