<h1>Log-In</h1>
<form action="/formulario" method="POST" >
    <input placeholder="Nombre de Usuario" type="text" name="userName" id="userName" required>
    <input type="submit" value="Log In">
</form>