<h1>Log In</h1>
<form action="/login"  method="POST" >
    <input placeholder="Email" type="text" name="username"  >   
    <input placeholder="Password" type="password" name="password"  >
    <input type="submit" value="Log In">
</form>
<h2> You do not have an account?</h2>
<button><a href="/">SignIn</a></button>
